.col-lg-8{
    text-align:justify;
    text-align: right;
    text-decoration-color: black;
}

*{
    box-sizing: border-box;
}

#Introduction{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    text-align: center;
    padding-top: 120px;
}

.navbar-inverse {
    background-color:lightblue;
    border-color:lightblue;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    transform: translate3d(0,0,0);
}

.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

html{
    -webkit-text-size-adjust: 100%;
}

.Correct{
    background-color: lightgray;
    text-decoration-color: darkblue;
}

.Incorrect{
    background-color: lightgrey;
    text-decoration-color: darkblue;
}

h2{
    color: darkred;
}

.m-4{
    padding-top:20px;
    padding-left:90px;
}

h6{
    color: brown;
}


h5{
    color:darkmagenta;
    padding-top: 20px;
    padding-left: 100px;
}

.list{
    color: purple;
}